<!DOCTYPE html>
<html>
  <div id="drawerContainer">
    <div id="eventDetailDrawer">
      <div class="pageHeading">
        Event Details
      </div>
      <span class="close" id="drawerClose">×</span>
      <div class="centerElements">
        <h5>Event Title</h5>
        <div>January 1st, 2016</div>
        <div>12:35 P.M.</div>
      </div>
      <p>
          Event Description: This is a description This is a description This is a description This is a description This is a description
          This is a description This is a description This is a descriptionThis is a description This is a description
          This is a description This is a description This is a descriptionThis is a description This is a description
      </p>
    </div>
  </div>
</html>
