<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Portal Calendar</title>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="../css/styles.css?v=1.0">


</head>

<body>
  <div class="textFont">
    <div class="pageHeading">Add Event</div>
    <h5 class="titleHeading">Title</h5>
    <div class="centerElements">
      <div class="inlineElements">12:35 P.M.</div>
      <div class="inlineElements">January 1st, 2016</div>
    </div>

    <div>
      <p>Repeat</p>
      <div class="radio inlineElements">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          None
        </label>
      </div>
      <div class="radio inlineElements">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Daily
        </label>
      </div>
      <div class="radio inlineElements">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
          Weekly
        </label>
      </div>
      <div class="radio inlineElements">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios4" value="option4">
          Monthly
        </label>
      </div>
    </div>
  </div>
</body>
</html>
