<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Portal Calendar</title>
  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
  <link rel="stylesheet" href="public/stylesheets/style.css?v=1.0">


</head>

<body>
  <button id="backButton">Back</button>
  <table cellspacing="0" style="width:100%">
    <tr class="captionHeadingRow">
      <caption>Week 1<caption/>
    </tr>
    <tr class="tableHeadingsRow">
      <th>Sun</th>
      <th>Mon</th>
      <th>Tues</th>
      <th>Wed</th>
      <th>Thur</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
      <td>6</td>
      <td>7</td>
    </tr>
    <tr>
      <td>8</td>
      <td>9</td>
      <td>10</td>
      <td>11</td>
      <td>12</td>
      <td>13</td>
      <td>14</td>
    </tr>
  </table>
  <button id="addEventButton" class="w3-btn-floating">+</button>
  <script src="public/javascripts/scripts.js"></script>
</body>
</html>
